// MAP-GET
$c-amarillo: #f6c90a;
$c-morado: #a00363;
$c-celeste: #12889c;
$c-logo: (morado: #a00363, celeste: #12889c);

// nav-> navegador

$c-nav: mix($c-morado, $c-celeste);

// bc-> backgroundcolor
$bc-nav: #fefcec;

// tiempo transicion nav
$nav-transition: all .8s;

// h-> height
$h-nav: 78px;

// color redes sociales
$c-facebook: #3a4d9c;
$c-twitter: #00b7f9;
$c-instagram: #f30263;