.footer {
    padding:5px 0;

    // MIXINS
    @include colores (lighten($c-amarillo, 38%), #4b4c4d);
    background: 
            radial-gradient(circle at 50% 0%,
                lighten($c-amarillo, 30%) 5%,
                lighten($c-morado, 60%) 55%,
                lighten($c-celeste, 50%)
                // lighten(   , 38%%, 65%, 60%)
            );

    .social {
        text-align:center;
        padding-bottom:0 px;
        margin: 10px 0;

        a {
            font-size:24px;
            width:40px;
            height:40px;
            line-height:40px;
            display:inline-block;
            text-align:center;
            border-radius:50%;
            border:1px solid #ccc;
            margin:0 8px;
            color:inherit;
            opacity:0.75;

            &:hover {
                opacity:0.9;
            }
        }
    }

    .copyright {
        margin-top:15px;
        text-align:center;
        font-size:13px;
        color:#aaa;
        margin-bottom:0;
    }
    
}

