@import '../base/typography';

.navbar-color {
    background-color: white;
    .navbar-color__nav {
        .nav-item {
            a {
                font-size: 150%;
                font-family: 'Shadows Into Light', cursive;
                color: black;
                padding: 0 20px;
                transition: all .8s;

                &:hover {
                    transform: scale(1.1);
                    transition: all .8s;
                    color: #12889c;
                    
                    i {
                        transition: all .8s;
                        color: #a00363;
                    }
                }
        




                
                i {
                    padding-right: 5px;
                }
            }
        }
    }
    

}